* {
    margin:0;
    padding:0
}
a {
    color:#36C
}
a:hover {
    color:#06F
}
body {
    background:#EEE url(../img/84.png);
    color:#444;
    font:normal 62.5% "Lucida Sans Unicode",sans-serif;
    margin:0
}
form
{
    width: 60%;
    margin: 20px auto 0;
    border: solid 1px;   
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FFF8DC;
}
label{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 97%;
}
input[type="submit"]{		
    
    width: 100px;
}
input {
    color:#555;
    font:normal 1.1em "Lucida Sans Unicode",sans-serif
}
p,cite,code,ul {
    font-size:1.2em;
    padding-bottom:1.2em}
h1 {
    font-size:1.4em;
    margin-bottom:4px
}
code {
    background:url(../img/bgcode.gif);
    border:1px solid #F0F0F0;
    border-left:6px solid #39F;
    color:#555;
    display:block;
    font:normal 1.1em "Lucida Sans Unicode",serif;
    margin-bottom:12px;
    padding:8px 10px;
    white-space:pre}
cite {
    background:url(../img/quote.gif) no-repeat;
    color:#666;
    display:block;
    font:normal 1.3em "Lucida Sans Unicode",serif;
    padding-left:28px}
h1,h2,h3 {
    color:#367EA6;
    padding-top:6px
}
/* misc */
.clearer {
    clear: both;
    height:20px;      
}#menu{
    height:30px;
    text-align: center;
    font-size:1.4em; 
}
/* structure */
.container {
    background:#FFF5EE;
    margin:0 auto;
    padding-bottom:6px;
    width:767px;
    border-bottom:1px solid #DDD;
    margin-bottom: 40px;
}
.header {
    background:url(../img/header.gif) repeat-x}
/* title */
.title h1 {
    color:#FFF;
    font:normal 3em Verdana,sans-serif;
    height:150px;
    line-height:150px;
    margin-bottom:8px;
    text-align:center;
}

/* main */
.main {
    clear:both;
    padding:8px 18px;
    margin-top: 40px;
    
}

/* content */
.content {
    float:right;
    width:730px}
.content .item {padding:6px 12px;border:1px solid #EEE;background:#FFF;margin-bottom:8px}
.content .descr {color:#333;margin-bottom:6px}
.content li {
    list-style:url(../img/li.gif);
    margin-left:18px}
/* search form */
form {
    padding:0 0 6px 8px;
}
.button {
    background:url(../img/search.gif) no-repeat left bottom;
    border:none;
    height:27px;
    width:27px;
}
/* footer */
.footer {
    background:#FFF;
    border:1px solid #EEE;
    color:#666;
    font-size:1.3em;
    margin:0 auto;
    text-align:center;
    width:730px;
    height: 40px;
    padding-top: 20px;
}
.footer .left, .footer .right
{
    padding:6px 12px
}
.footer .right, .footer .right a {
    color:#AAA
}
.footer .right a:hover {
    color:#666
}
/* floats */
.left {
    float:left
}
.right {
    float:right
}
/* top-menu*/
.top-menu {
  margin: 0 ;
  position: relative;
  background: #0000CD;    
  box-shadow: 
    inset 1px 0 0 rgba(255,255,255,.1), 
    inset -1px 0 0 rgba(255,255,255,.1), 
    inset 150px 0 150px -150px rgba(255,255,255,.12), 
    inset -150px 0 150px -150px rgba(255,255,255,.12);
}
.top-menu:before,
.top-menu:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 3px;
}
.top-menu:before {
  top: 0;
  border-bottom: 1px dashed rgba(255,255,255,.2);
}
.top-menu:after {
  bottom: 0;
  border-top: 1px dashed rgba(255,255,255,.2);
}
.menu-main {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}
.menu-main:before, 
.menu-main:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 0;
  top: 8px;
  border-top: 18px solid #5A394E;
  border-bottom: 18px solid #5A394E;
  transform: rotate(360deg);
  z-index: -1;
}
.menu-main:before {
  left: -10px;
  border-left: 12px solid rgba(255, 255, 255, 0);
}
.menu-main:after {
  right: -10px;
  border-right: 12px solid rgba(255, 255, 255, 0);
}
.menu-main li {
  display: inline-block;
  margin-right: -4px;
}
.menu-main a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  transition: 0.01s linear;
}
.menu-main a.current,
.menu-main a:hover {background: rgba(0,0,0,.2);}
@media (max-width: 720px) {
.top-menu {margin: 0;}
.menu-main li {
  display: block;
  margin-right: 0;
}
.menu-main:before, 
.menu-main:after {content: none;}
.menu-main a {display: block;}
}