#all {
    min-height: 280px;
}

form[name="add"] {
    background-color: #eeeeee;
    width: calc(100% - 12px);
}

textarea {
    height: 80px;
}

div .all form {
    border: none;
    background-color: white;
    position: relative;
}

.date {
    text-align: right;
}

form[name="delete"] {
    width: 100%;
    padding-bottom: 30px;
    

}

input[value="delete"] {
    position: absolute;
    right: 0;
    
}